@inherits DowndownComponent<TItem>
@typeparam TItem
<div class="dropdown">
    <button class="btn btn-primary dropdown-toggle mr-4" data-toggle="dropdown" type="button" @onclick="e => this.show=!this.show"
            aria-haspopup="true" aria-expanded="false">
        @Tip
    </button>
    <CascadingValue name="Dropdown" Value="@this">
        <div class="dropdown-menu @(show? "show":"")">
@*             @ChildContent*@            
            @ItemTemplate
        </div>
    </CascadingValue>
</div>